{
    "town": {
        "value": "Town06",
        "value list": [
            "Town01",
            "Town02",
            "Town03",
            "Town04",
            "Town05",
            "Town06"
        ]
    },
    "weather": {
        "value": "SoftRainSunset",
        "value list": [
            "Default",
            "ClearNoon",
            "CloudyNoon",
            "ClearSunset",
            "SoftRainSunset"
        ]
    },
    "spawn point": 7,
    "# random vehicles": 0,
    "# walkers": 0,
    "# experiments": 5,
    "fault implementation": {
        "value": "client",
        "value list": [
            "client",
            "server"
        ]
    },
    "fault type": {
        "value": "bac",
        "value list": [
            "bac",
            "blur",
            "dead_pixel",
            "gaussian",
            "poisson",
            "sharpness",
            "speckle"
        ]
    },
    "fault activation time": {
        "value": 5.0,
        "value range": null
    },
    "fault deactivation time": {
        "value": 20.0,
        "value range": null
    },
    "fault params": {
        "factor": {
            "value range": [
                8.0,
                18.0
            ],
            "value": null
        }
    },
    "scenario name": {
        "value": "sudden_brake",
        "value list": [
            "sudden_brake"
        ]
    },
    "scenario time": 30,
    "scenario params": {
        "brake delay": {
            "value": null,
            "value range": [
                8.0,
                18.0
            ]
        },
        "init distance": {
            "value": 30.0,
            "value range": null
        },
        "safe distance": {
            "value": 5.0,
            "value range": null
        }
    },
    "golden run": false,
    "measures": {
        "chosen": [
            "corr",
            "safety_violation_time",
            "successful_missions"
        ],
        "choice list": [
            "corr",
            "safety_violation_time",
            "successful_missions"
        ]
    }
}