{
    "g_run": false,
    "low_quality": true,
    "town": "Town06",
    "weather": "ClearSunset",
    "spawn_point": 7,
    "n_rnd_vehicles": 4,
    "n_walkers": 20,    
    "fault": {
        "impl": "server",
        "type": "gaussian",
        "seed": 123,
        "min": {
            "dist": "uniform",
            "min":0.0,
            "max":0.45
        },
        "max": {
            "dist": "uniform",
            "min":0.5,
            "max":1
        },
        "activation_time": 5,
        "deactivation_time": 500
    },
    "requirements": {
        "relative_distance": 5 
    }, 
    "measures":{
        "cumulative":["successful_missions"],
        "per_run":["safety_violation_time"],
        "corr": ["sim_time", "brake_delay", "fault_min", "fault_max"]
    },          
    "sim_rounds": 2,
    "sim_timeout": 20,
    "scenario":{        
        "brake_delay":{
            "dist": "uniform",
            "min":3,
            "max":8
        } ,   
        "init_distance": 20,
        "cmd_delay": 2,
        "cmds": [
            [
                "1",
                100
            ],
            [
                "2",
                20
            ],
            [
                "1",
                40
            ],
            [
                "2",
                20
            ],
            [
                "1",
                40
            ],
            [
                "2",
                20
            ]
        ]
    }
    
}